{% extends "active_fit/base.html" %}

{% block title %}ActiveFit : An active learning platform{% endblock %}

{% block content %}

    <div class="row intro-container">
        <div class="col-md-6 mx-auto">
            <div class="row intro-content text-center">
                Experience is simply the name we give to our mistakes. </br>
                Be iterative and active - learn optimally!
            </div>
            <div class="row align-items-center">
                <div class="col-md-3 offset-md-3">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Train a model</button>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Start inference</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
